<%= form_for(@micropost) do |f| %>
	<%= render 'shared/error_messages', object: f.object %>
	<div class="field">
		<%= f.text_area :content, placeholder: "发生了什么有趣的事儿" %>
	</div>
	<%= f.submit "发送", class: "btn btn-large btn-primary" %>
<% end %>