<footer class="footer">
  <small>
    <a href="http://sample-app-inc.herokuapp.com/">简单的微博</a>
    by wanway
  </small>
  <nav>
    <ul>
      <li><%= link_to "关于",   about_path %></li>
      <li><%= link_to "联系", contact_path %></li>
    </ul>
  </nav>
</footer>